*{
 font-family: sans-serif;  
 margin: 0;
 padding: 0;
 background-color: rgb(19, 19, 19);
}
 

nav{
    display: flex;
    width: 100%;
    padding: 1px;
    justify-content: center;
    position: fixed;
    border-bottom: 10px dotted white;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin-left: 70px;   
}

nav ul li a{
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

nav ul li a:hover{
    color: rgb(246, 0, 0);
}

.detel{
    margin-left: 6%;
    margin-top: 23%;
}
#user-pic {
    width: 300px; 
    height: 300px; 
    border-radius: 50%; 
    display: block;
    margin: 0 auto; 
    margin-top: 30px;
}

.detel h1{
    font-size: 50px;
    color: rgb(255, 255, 255);
}

span{
    color: rgb(255, 89, 0);
}

.detel h1{
    margin-top: 30px;
}

.detel p{
    color: rgb(255, 255, 255);
    line-height: 50px;
    font-size: 30px;
}
.Socialmedia ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    
}
.Socialmedia li{
    margin: 5px;
    width: 50px;
    margin-top: 50px;
}

p{
    align-items: center;
    margin-right: 10px;
}

li{
    padding: 50px;
    width: 20px;
    height: 10px;
    background-attachment: cover;
    display: inline-flex;
    margin: 5px;
}
    
#img{
        height: 60px;
        width: 80px;
        margin-top: 50px;
        margin-left: 700px;
        
}
.About{
    border-bottom: 5px dotted;
    border-top: 5px dotted;
    border-color: azure;
    margin-bottom: 100px;

} 

.container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.detel, .user-photo {
    flex-basis: 60%; 
}

.About{
    padding: 0;
    margin: 0;
    margin-bottom: 100px;
}
.About h1{
    font-weight: bold;
    color: rgb(255, 213, 0);
    margin-top: 150px;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.About p{
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-top: 80px;
    margin-left: 10%;
    font-size: 30px;
}
.About h2{
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-left: 30px;
    margin-top: 100px;
}
.About h3{
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-left: 30px;
    margin-bottom: 120px;
}
.Skills{
    border-top: 5px dotted;
    border-color: aliceblue;
    border-bottom: 5px dotted;
    border-color: aliceblue;
}
.Skills h1{
   align-items: center;
   justify-content: center;
   display: flex;
   font-size: 50px;
   color: white;
   margin-top: 200px;
}

.Skills h1{
    font-weight: bold;
    color: rgb(255, 208, 0);
    font-size: 50px; 
    margin: 0;
    padding: 0px;
    margin-top: 150px;
}

.Skills h2{
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-top: 80px; 
    margin-left: 150px;
}
.Skills h3{
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 25px; 
    margin-top: 80px;
    margin-left: 150px; 
}
.Skills h4{
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-top: 80px; 
    margin-bottom: 100px;
    margin-left: 150px; 
}
.Projects h1{
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-top: 70px;
    margin-left: 45%;
    font-size: 50px; 
}





